/* You can add custom styles here. */

body * {
  font-family: "Roboto", sans-serif;
}

.home-cat-col p {
  display: inline-block !important;
  width: 30%;
  margin-right: 2%;
  vertical-align: middle;
}

.home-cat-col p button {
  width: 100%;
  min-height: 150px;
}

@media (max-width: 624px) {
  .home-cat-col p {
    margin: 1%;
    width: 30%;
  }

  .home-cat-rows {
    text-align: center;
  }
}

@media (min-width: 625px) {
  .home-cat-col p {
    margin-right: 2%;
  }
}